/* Ask ChatGPT or StackOverflow or MDN docs for the questions */
/* Make sure you understand every CSS feature that is being used here */

/* What does this '*' do in CSS ? */
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; /* What does this do? */
}

html {
  box-sizing: border-box; /* What does this do? */
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  line-height: 2;
  background-color: rgb(238, 238, 238);
}

img {
  transition: filter 0.5s; /* What does this do? */
}

/* For the main header */
/* .header {
  height: 100vh;
} */

/* For the sections */
.section {
  padding: 15rem 3rem;
  /* border-bottom: 1px solid #9197ae; */
  transition: transform 1s, opacity 1s; /* What does this do? */
  height: 100vh;
}

.section-header {
  font-size: 50px;
  font-weight: 500;
}

.section-description {
  font-weight: 300;
}

.section-hidden {
  opacity: 0;
  transform: translateY(8rem);
}

/* For the nav bar */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7rem;
  width: 100%;
  padding: 0 6rem;
  background-color: rgb(238, 238, 238);
  color: black;
  z-index: 100; /* What does this do? */
}

.nav-links {
  display: flex;
  align-items: center;
  list-style: none; /* What does this do? */
}

.nav-item {
  margin-left: 4rem;
}

.nav-link:link,
.nav-link:visited {
  font-size: 1.7rem;
  font-weight: 400;
  color: inherit; /* What does this do? */
  text-decoration: none; /* What does this do? */
  display: block; /* What does this do? */
  transition: all 0.3s; /* What does this do? */
}

.nav-logo {
  height: 4.5rem;
  transition: all 0.3s;
  border-radius: 10px;
}

.nav.sticky {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.95);
}

/* Developer information customization */
.developer-profile {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}

.developer-container {
  flex: 1 1 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.developer-pfp {
  max-width: 300px;
  height: auto;
  border-radius: 25px;
}

@media (max-width: 768px) {
  .developer-container {
    flex: 1 1 100%; /* Full width on smaller screens */
  }

  .developer-pfp {
    height: auto; /* Adjust image height for smaller screens */
  }
}

/* Training paths customization */
.paths-menu {
  display: flex;
  justify-content: space-evenly;
  padding-top: 25px;
}

.path-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.path-profile-content {
  margin-top: 20px;
  background-color: white;
  border: 0;
  border-color: #273043;
  border-radius: 16px;
  padding: 10px 10px 10px 10px;
  font-size: 18px;
  font-weight: 500;
  transition: transform 0.2s ease-in-out;
  height: 200px;
  width: 300px;
  filter: blur(10px);
}

.path-profile-content p {
  display: flex;
  text-align: center;
  flex-direction: column;
}

.path-profile-content-active {
  transform: scale(1.1);
  filter: blur(0);
}

.path-profile-btn-active {
  transform: translateY(-30%);
}

.path-profile-btn {
  appearance: button;
  cursor: pointer; /* Changes how the curser looks when hovering */
  border: 0;
  border-radius: 10rem;
  color: blacks;
  padding: 13px 16px;
  font-size: 15px;
  font-weight: 300;
  width: 75%;

  letter-spacing: 0.8px;

  transition: transform 0.2s ease-in-out;
}

.path-profile-btn[data-path="1"] {
  background-color: #00a9ff;
}
.path-profile-btn[data-path="2"] {
  background-color: #55ad9b;
}
.path-profile-btn[data-path="3"] {
  background-color: #f47c7c;
}

.path-profile-btn:hover {
  filter: brightness(1.2);
}

.enrollment-link {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.enrollment-link-active {
  opacity: 100;
}

/* Diet Section Navigation*/
.slider {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* background-color: red; */
  width: 100%;
  height: 500px;

  overflow: hidden;
}

.slide {
  position: absolute;
  /* padding-top: 50px; */
  padding-left: 20%;
  padding-right: 20%;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  transition: transform 2s;
}

.slide > img {
  /* What does this do? */
  width: 100%;
  height: 100%;
  object-fit: cover; /* What does this do? */
}

.slider-btn {
  position: absolute;
  top: 50%;
  z-index: 10;

  border: none;
  background: rgba(255, 255, 255, 1);
  font-family: inherit;
  color: #333;
  border-radius: 100%;
  height: 50px;
  width: 50px;
  font-size: 25px;
  cursor: pointer;
}

.slider-btn-left {
  left: 20%;
  transform: translate(-50%, -50%);
}

.slider-btn-right {
  right: 20%;
  transform: translate(50%, -50%);
}

/* Footer customizations */
.footer {
  position: relative;
  display: flex;
  justify-content: center;
  color: black;
  background-color: rgb(238, 238, 238);
  padding-top: 50px;
  padding-bottom: 50px;
}
