* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; /* What does this do? */
}

html {
  box-sizing: border-box; /* What does this do? */
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  line-height: 2;
  background-color: #eff6ee;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 20px;
}

/* For the sections */
.section {
  padding: 15rem 3rem;
  /* border-top: 1px dashed #9197ae; */
  transition: transform 1s, opacity 1s; /* What does this do? */
}

.section-header {
  font-size: 50px;
}

.section-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.user-statistics {
  display: flex;
  flex-direction: column;
  max-width: 50%;
}

.user-character {
  max-width: 50%;
}

.user-inputs {
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 16px;
  font-size: 15px;
  letter-spacing: 0.3px;
  max-width: 75%;
}

.btn-statistics {
  appearance: button;
  cursor: pointer; /* Changes how the curser looks when hovering */
  background-color: #273043;
  border-radius: 16px;
  color: white;
  padding: 13px 16px;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.8px;
  max-width: 50%;
}

.btn-statistics:hover {
  filter: brightness(1.2);
}
