* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* What does this do? */
}

html {
  box-sizing: border-box; /* What does this do? */
}

body {
  font-family: "Helvetica", sans-serif;
  font-weight: 300;
  line-height: 2;
  color: #1b262c;
  background-color: white;
}

h3 {
  font-size: 30px;
  font-weight: 500;
}

h4 {
  font-size: 20px;
  font-weight: 500;
}

/* Sidebar attempt implementation */
.sidebar {
  position: fixed;
  border-right: 2px solid #00aaff3f;
  background-color: white;
  width: 270px;
  height: 100%;
  transition: filter 1s ease-in;
}

.sidebar.logoff {
  filter: blur(5px);
}

.sidebar-title {
  text-align: center;
  padding: 25px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 900;
  color: #176b87;
}

.sidebar i {
  font-style: normal;
}

.nav-link {
  display: flex;
  justify-content: start;
  cursor: pointer;
  margin: 15px;
  padding: 10px;
  /* border: 2px solid black; */
  font-weight: 600;
  border-radius: 16px;
  width: 150px;
}

.nav-link-active {
  border: 2px solid #00aaff81;
  background-color: #a0e9ff;
}

.nav-link:hover {
  background-color: #00aaff1a;
}

@media (700px <= width <= 1100px) {
  .sidebar {
    width: 80px;
  }

  .sidebar span {
    display: none;
  }

  .sidebar p {
    display: none;
  }

  .nav-link {
    width: 50px;
  }
}

@media (max-width: 700px) {
  .sidebar {
    position: fixed;
    bottom: 0;
    left: 0;
    border-top: 2px solid #00aaff3f;
    width: 100vw;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    z-index: 1000;
  }

  .sidebar-title {
    display: none;
  }

  .sidebar span {
    display: none;
  }

  .sidebar p {
    display: none;
  }

  .sidebar i {
    font-size: x-large;
  }

  .nav-link {
    width: 50px;
    padding: 10px;
    align-items: center;
    justify-content: center;
  }
}

/* Miscellanous bar */
.miscBar {
  position: fixed;
  right: 0;
  /* border-left: 2px solid #00aaff3f; */
  width: 540px;
  height: 100%;
  transition: filter 1s ease-in;
}

.miscBar.logoff {
  filter: blur(5px);
}

.miscBar-title {
  text-align: center;
  padding: 25px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 900;
  color: #176b87;
}

.miscBar-container {
  height: 300px;
  margin: 20px;
  padding: 15px;
  border: 2px solid #00aaff3f;
  border-radius: 16px;
}

.miscBar-container-title h4 {
  font-weight: 600;
  color: #176b87;
  letter-spacing: 0.5px;
}

.premium {
  height: 160px;
}

.premium-buy-btn {
  text-align: center;
  width: 50%;
  cursor: pointer;
  appearance: button;
  background-color: #00a9ff;
  color: white;
  font-weight: 600;
  letter-spacing: 0.5px;
  padding: 10px 30px 10px 30px;
  margin: 10px 25% 10px 25%;
  border: 0;
  border-bottom: 7px solid #02547e;
  border-radius: 11px;
}

.premium-buy-btn:hover {
  transform: translateY(1px);
  border-bottom: 5px solid #02547e;
}

.ranking {
  display: flex;
  flex-direction: column;
  height: 350px;
}

.ranking-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  overflow: hidden;
}

.ranking-content img {
  max-width: 300px;
  max-height: 300px;
  height: auto;
  width: auto;
  align-self: center;
  object-fit: contain;
}

@media (max-width: 700px) {
  .miscBar {
    position: relative;
    width: 100vw;
  }

  .miscBar-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
}

/* Main content structure */
.main-content {
  margin-left: 270px;
  margin-right: 540px;
}

/* For the sections */
.section {
  display: flex;
  flex-direction: column;
  padding: 10rem 3rem;
  /* border-top: 1px dashed #9197ae; */
  transition: transform 1s, opacity 1s; /* What does this do? */
  height: 100vh;
}

.section-title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}

.section-header {
  font-size: 50px;
}

.section-content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

/* Initial section with player information */

#loginSection.loggedin {
  display: none;
}

#loginSection.section {
  position: absolute;
  height: 720px;
  background-color: white;
  top: 10%;
  left: 10%;
  right: 10%;
  padding-top: 20px;
  margin: 0;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 16px;
}

#loginSection .section-content {
  width: 100%;
}

.user-statistics {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  margin-left: 50px;
  margin-right: 50px;
  padding: 25px;
  background-color: white;
  border-radius: 16px;
}

.user-character {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  margin-left: 50px;
  margin-right: 50px;
  padding: 25px;
  background-color: white;
  border-radius: 16px;
}

@media (max-width: 1450px) {
  #loginSection.section {
    height: 100vh;
    text-align: center;
  }
  #loginSection .section-content {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .user-character {
    margin-top: 50px;
  }
}

.user-inputs {
  background-color: rgb(230, 230, 230);
  color: black;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 0;
  border-radius: 16px;
  font-size: 15px;
  letter-spacing: 0.3px;
}

input[type="checkbox"] {
  cursor: pointer;
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;
}

/* Current issue */
/* input[type="checkbox"] {
  position: relative;
  cursor: pointer;
  margin: 10px;
}
input[type="checkbox"]:before {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  border: 2px solid #555555;
  border-radius: 3px;
  background-color: white;
}
input[type="checkbox"]:checked:after {
  content: "";
  display: block;
  width: 5px;
  height: 10px;
  border: solid black;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 2px;
  left: 6px;
} */

.user-input-invalid {
  animation: hor-shake 0.5s;

  /* animation-iteration-count: infinite; */
}

@keyframes hor-shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

.btn-statistics {
  appearance: button;
  cursor: pointer; /* Changes how the curser looks when hovering */
  border-radius: 16px;
  color: white;
  padding: 13px 16px;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.8px;
  border: 0;
  background-color: #00a9ff;
  border-bottom: 5px solid #02547e;
  border-radius: 11px;
  /* max-width: 25%; */
}

.btn-statistics:hover {
  filter: brightness(1.2);
}

/* Recommended Routine Section */

.ppl-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.ppl-row {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.ppl-col {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
  padding: 25px;
  border: 3px solid #89cff3;
  border-radius: 16px;
  margin: 25px 100px 25px 100px;
  padding: 25px;
  background-color: #a0e9ff;
}

.specific-exercise {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  padding: 5px 30px 5px 30px;
  margin: 10px;
  border-bottom: 6px solid #02547e;
  border-radius: 16px;
  color: white;
  font-weight: 300;
  background-color: #00a9ff;
  width: 100%;
}

.specific-exercise:hover {
  transform: translateY(1px);
  border-bottom: 5px solid #02547e;
}

.sets {
  font-weight: 600;
}

.specific-exercise-active {
  /* filter: brightness(1.1); */
  border-bottom: 0;
  /* transform: scale(1.05); */
}

.exercise-pic {
  max-width: 100%;
  height: auto;
  border-radius: 16px;
}
